#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include "zmk-helpers/helper.h"
#include "include/roBa.h"
#include "include/combos.dtsi"
#include "include/hold-tap.dtsi"
#include "include/settings.dtsi"

ZMK_LAYER(base,
		&kp Q          &kp W       &kp E         &kp R          &kp T                                  &kp Y       &kp U            &kp I         &kp O       &kp P         
		&hml LGUI A    &hml LALT S &hml LSHFT D  &hml LCTRL F   &kp G &trans                    &kp SEMI &kp H       &hmr LCTRL J     &hmr RSHFT K  &hmr LALT L &hmr LGUI APOS
    &lt_sni 6 Z    &kp X       &kp C         &kp V          &kp B &trans                    &trans &kp N       &kp M            &kp COMMA     &kp DOT     &kp FSLH
    &kp LCTRL  		 &kp LALT    &kp LGUI      &lt_scr 5 ESC &lt_tab 1 TAB  &lt_shift LSHFT SPACE &kp RET        &lt_back 2 BSPC                            &mo 3
)

ZMK_LAYER(num,  
    &kp LBKT       &kp N7      &kp N8        &kp N9         &kp RBKT                               &kp C_PLAY  &kp C_PREV       &kp C_VOL_DN  &kp C_VOL_UP &kp C_NEXT
    &kp MINUS      &kp N4      &kp N5        &kp N6         &kp EQUAL &trans                &trans &kp LEFT    &kp DOWN         &kp UP        &kp RIGHT   &kp CAPSLOCK
    &kp N0         &kp N1      &kp N2        &kp N3         &kp BSLH  &trans                &trans &kp INS     &kp HOME         &kp PG_DN     &kp PG_UP   &kp END
    &trans         &trans      &trans        &kp GRAVE      &trans    &kp PIPE2             &kp TAB &mo 3                                                 &trans
)

ZMK_LAYER(sym,  
    &kp LBRC       &kp AMPS    &kp ASTRK     &kp LPAR       &kp RBRC                               &kp F12     &kp F7           &kp F8        &kp F9      &kp PSCRN
    &kp UNDERSCORE &kp DLLR    &kp PRCNT     &kp CARET      &kp PLUS  &trans                &trans &kp F11     &kp F4           &kp F5        &kp F6      &kp DEL  
    &kp RPAR       &kp EXCL    &kp AT        &kp HASH       &kp PIPE  &trans                &trans &kp F10     &kp F1           &kp F2        &kp F3      &trans
    &trans         &trans      &trans        &trans         &caps_word &kp NUBS             &trans &trans                                                 &trans
)

ZMK_LAYER(ext,
    &trans         &trans      &trans        &trans         &trans                                 &trans      &trans           &trans        &trans        &bootloader
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &tog 1      &tog 2           &tog 7        &tog 8        &trans
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &bt BT_SEL 1 &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 5
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &trans                                                   &trans
)

ZMK_LAYER(mou,
    &trans         &trans      &trans        &trans         &trans                                 &trans      &trans           &trans        &trans        &trans
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &trans      &trans           &trans        &trans        &trans
    &lt_sni 6 Z    &trans      &trans        &trans         &trans  &trans                  &trans &trans      &trans           &trans        &trans        &mkp MB1
    &trans         &trans      &trans        &mkp MB1       &lt_mb3 5 MB3  &mkp MB2         &trans &trans                                                   &trans
)

ZMK_LAYER(scr,
    &trans         &trans      &trans        &trans         &trans                                 &trans      &trans           &trans        &trans        &trans
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &trans      &trans           &trans        &trans        &trans
    &lt_sni 6 Z    &trans      &trans        &trans         &trans  &trans                  &trans &trans      &trans           &trans        &trans        &trans
    &trans         &trans      &trans        &mkp MB1       &mkp MB3 &mkp MB2               &trans &trans                                                   &trans
)

ZMK_LAYER(sni,
    &trans         &trans      &trans        &trans         &trans                                 &trans      &trans           &trans        &trans        &trans
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &trans      &trans           &trans        &trans        &trans
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &trans      &trans           &trans        &trans        &trans
    &trans         &trans      &trans        &mkp MB1       &lt_mb3 5 MB3   &mkp MB2        &trans &trans                                                   &trans
)

ZMK_LAYER(game,
		&kp 1          &kp 2       &kp 3         &kp 4          &kp 5                                  &kp Y       &kp U            &kp I         &kp O       &kp P         
		&kp LCTRL      &kp Q       &kp W         &kp E          &kp R &kp T                     &trans &kp H       &hmr LCTRL J     &hmr RSHFT K  &hmr LALT L &hmr LGUI APOS
    &kp LSHFT      &kp A       &kp S         &kp D          &kp F &kp G                            &trans &kp N &kp M           &kp COMMA     &kp DOT     &kp FSLH
    &kp Z          &kp X       &kp C         &kp V          &kp B &kp SPACE                        &kp RET        &lt_back 2 BSPC                            &kp SEMI
  )
