#include "zmk-helpers/helper.h"
#include "key-labels/roBa.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define NUM 1
#define SYM 2
#define EXT 3
#define MOU 4
#define SCR 5
#define SNI 6

ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <250>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <80>;
    bindings = <&kp>, <&kp>;
    hold-trigger-on-release;
)

ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <250>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <80>;
    bindings = <&kp>, <&kp>;
    hold-trigger-on-release;
)

ZMK_BEHAVIOR(lt_tab, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <120>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <80>;
    bindings = <&mo>, <&kp>;
    hold-trigger-on-release;
)

ZMK_BEHAVIOR(lt_back, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <120>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <80>;
    bindings = <&mo>, <&kp>;
    hold-trigger-on-release;
)

ZMK_BEHAVIOR(lt_shift, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <120>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <80>;
    bindings = <&kp>, <&kp>;
    hold-trigger-on-release;
)

ZMK_BEHAVIOR(lt_scr, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <120>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <80>;
    bindings = <&mo>, <&kp>;
    hold-trigger-on-release;
)

ZMK_BEHAVIOR(lt_sni, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <120>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <80>;
    bindings = <&mo>, <&kp>;
    hold-trigger-on-release;
)

ZMK_BEHAVIOR(lt_mb3, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <120>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <80>;
    bindings = <&mo>, <&kp>;
    hold-trigger-on-release;
)

ZMK_COMBO(caps, &kp CAPSLOCK, LM2 RM2)
ZMK_COMBO(sni, &mo 7, RB2 RB3)

ZMK_CONDITIONAL_LAYER(ext, 1 2, 3)

ZMK_LAYER(def,
		&kp Q          &kp W       &kp E         &kp R          &kp T                                  &kp Y       &kp U            &kp I         &kp O       &kp P         
		&hml LGUI A    &hml LALT S &hml LSHFT D  &hml LCTRL F   &kp G &trans                    &trans &kp H       &hmr LCTRL J     &hmr RSHFT K  &hmr LALT L &hmr LGUI SEMI
    &lt_sni 6 Z    &kp X       &kp C         &kp V          &kp B &trans                    &trans &kp N       &kp M            &kp COMMA     &kp DOT     &kp FSLH
    &kp LCTRL  		 &kp LALT    &kp LGUI      &lt_scr 5 ESC &lt_tab 1 TAB  &lt_shift LSHFT SPACE &kp RET        &lt_back 2 BSPC                            &kp SEMI
)

ZMK_LAYER(num,  
    &kp LBKT       &kp N7      &kp N8        &kp N9         &kp RBKT                               &kp C_PLAY  &kp C_PREV       &kp C_VOL_DN  &kp C_VOL_UP &kp C_NEXT
    &kp MINUS      &kp N4      &kp N5        &kp N6         &kp EQUAL &trans                &trans &kp LEFT    &kp DOWN         &kp UP        &kp RIGHT   &kp CAPSLOCK
    &kp N0         &kp N1      &kp N2        &kp N3         &kp BSLH  &trans                &trans &kp INS     &kp HOME         &kp PG_DN     &kp PG_UP   &kp END
    &trans         &trans      &trans        &trans         &trans    &kp PIPE2             &kp TAB &mo 3                                                 &trans
)

ZMK_LAYER(sym,  
    &kp LBRC       &kp AMPS    &kp ASTRK     &kp LPAR       &kp RBRC                               &kp F12     &kp F7           &kp F8        &kp F9      &kp PSCRN
    &kp UNDERSCORE &kp DLLR    &kp PRCNT     &kp CARET      &kp PLUS  &trans                &trans &kp F11     &kp F4           &kp F5        &kp F6      &kp DEL  
    &kp RPAR       &kp EXCL    &kp AT        &kp HASH       &kp PIPE  &trans                &trans &kp F10     &kp F1           &kp F2        &kp F3      &trans
    &trans         &trans      &trans        &trans         &caps_word &kp NUBS             &trans &trans                                                 &trans
)

ZMK_LAYER(ext,
    &trans         &trans      &trans        &trans         &trans                                 &trans      &trans           &trans        &trans        &bootloader
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &tog 1      &tog 2           &tog 3        &tog 4        &trans
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &bt BT_SEL 1 &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 5
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &trans                                                   &trans
)

ZMK_LAYER(mou,
    &trans         &trans      &trans        &trans         &trans                                 &trans      &trans           &trans        &trans        &trans
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &trans      &trans           &trans        &trans        &trans
    &lt_sni 6 Z    &trans      &trans        &trans         &trans  &trans                  &trans &trans      &trans           &trans        &trans        &mkp MB1
    &trans         &trans      &trans        &mkp MB1       &lt_mb3 5 MB3  &mkp MB2         &trans &trans                                                   &trans
)

ZMK_LAYER(scr,
    &trans         &trans      &trans        &trans         &trans                                 &trans      &trans           &trans        &trans        &trans
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &trans      &trans           &trans        &trans        &trans
    &lt_sni 6 Z    &trans      &trans        &trans         &trans  &trans                  &trans &trans      &trans           &trans        &trans        &trans
    &trans         &trans      &trans        &mkp MB1       &mkp MB3 &mkp MB2               &trans &trans                                                   &trans
)

ZMK_LAYER(sni,
    &trans         &trans      &trans        &trans         &trans                                 &trans      &trans           &trans        &trans        &trans
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &trans      &trans           &trans        &trans        &trans
    &trans         &trans      &trans        &trans         &trans  &trans                  &trans &trans      &trans           &trans        &trans        &trans
    &trans         &trans      &trans        &mkp MB1       &lt_mb3 5 MB3   &mkp MB2        &trans &trans                                                   &trans
)
